body {
  min-height: 100vh;
  background-image: url(weather.jpg);
  background-position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h1 {
  font-family: aviano-flare, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#panel {
  min-width: 100%;
  display: flex;
}

#titlePanel {
  min-width: 40%;
}

#titlePanel h1 {
  font-size: 45px;
  margin-left: 10%;
  color: #6bc7f5;
  font-family: aviano-flare, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 2px #062f5d;
}

#functionPanel {
  min-width: 60%;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  /* display: flex;
  flex-direction: row; */
  background-color: #0a1f44;
  min-height: 100vh;
}

#inputCard {
  margin-top: 10%;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background-color: #0a1f44;
  color: #ffffff;
}

#getCityWeather {
  font-size: 20px;
}

.inputStyle {
  border: solid 3px #6bc7f5;
  border-radius: 10px;
  font-size: 20px;
}

.cityCard {
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px;
  border: solid 3px #6bc7f5;
}
