body {
  min-height: 100vh;
  background-image: url(weather.jpg);
  background-position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#panel {
  min-width: 100%;
  display: flex;
}

#titlePanel {
  max-width: 40%;
}

.row {
  position: relative;
}

#heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 90%;
  max-height: 20%;
  margin-top: 50px;
}

#heading h2 {
  font-size: 55px;
  font-family: storefront-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #062f5d;
}

#heading h1 {
  font-size: 45px;
  color: #6bc7f5;
  font-family: aviano-flare, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 3px #062f5d;
  padding: 0;
  margin: 0;
}

#sysDate {
  display: flex;
  justify-content: center;
  min-width: 90%;
  max-height: 15%;
  align-items: center;
  
}

#sysDate h2 {
  font-size: 25px;
  color: #062f5d;
  font-family: aviano-flare, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.clock {
  font-size: 1.5vw;
  text-align: center;
  font-family: aviano-flare, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 2%;
  min-width: 90%;
}

#local {
  min-width: 80%;
  margin-bottom: 20px;
  margin-left: 25px;
  
}

#local .card {
  background-color: rgba(0,0,0,0.01);
}

#local h2 {

font-size: 25px;
color: #062f5d;
font-family: poppins, sans-serif;
font-weight: 500;
font-style: normal;
}

#local h3 {

  font-size: 20px;
  color: #062f5d;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  }

  #local h4 {

    font-size: 18px;
    color: #062f5d;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    }

  #local h5 {

    font-size: 16px;
    color: #062f5d;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    }  

hr {
  color: #062f5d;
}    

#functionPanel {
  max-width: 60%;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  /* display: flex;
  flex-direction: row; */
  background-color: #0a1f44;
  min-height: 100vh;
  position: relative;
}

.decorative {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1;
  color: #0E2A59;
  font-size: 30px;
  text-align: justify;
}

#inputCard {
  margin-top: 45%;
  margin-left: 25%;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background-color: #0a1f44;
  color: #ffffff;
  max-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

#inputCard {
  z-index: 10;
}

#getCityWeather {
  font-size: 20px;
}

.inputStyle {
  border: solid 3px #6bc7f5;
  border-radius: 10px;
  font-size: 20px;
}

#cityCard {
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 25%;
}

#cityCard {
  z-index: 10;
}

#cityCard h3 {
  font-size: 20px;
}


#cityCard h2 {
  font-size: 18px;
  
}

#cityCard h4 {
  font-size: 16px;
}

#cityCard h5 {
  font-size: 14px;
}


.city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--cyan);
}

